//color
$color-primary: #F56457;
	//#FFA05A;
$color-primary-dark:  #2B463C;
$color-primary-light: #B1D182;

$color-secondary-light: #FEAEA5;
$color-secondary-dark: #363151;

$color-tertiary-light: #F8D8C9;
$color-tertiary-dark: #FF8767;



$color-primary-red: #B14145;
$color-light: #F8F1EO;
$color-white: #FFFFFF;
$color-gray: #777777;

$color-black: #000000;

$color-gray-light-1:#F7F7F7;
$color-gray-light-2: #eee;

$color-gray-dark-2:#999;
$color-gray-dark-3: #2B463C;
//fonts
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;