@model EcoFootprint.Models.PasswordModel
@{
    ViewBag.Title = "Password";
}

<h2>Sign In</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.WrongPassword)
    {
<p class="text-danger">Wrong password!!!</p>
    }
    @Html.PasswordFor(model=>model.Password)
<br />
<input type="submit"    name="name" value="Sign In" />
}